body {
    color: #256993;
    font-family: Montserrat, sans-serif;
    display: flex;
    padding: 0%;
    margin: 0%;
}

h1 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

li {
    list-style-type: square;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar {
    background-color: #FAF4EC;
    height: 100vw;
    width: 20vw;
}

.mainbody {
    display: grid;
    background-color: #F3E9DE;
    height: 100vw;
    width: 80vw;
    grid-row-;
}

.aboutdocs {
    display: flex;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: flex-end;
    column-gap: 1vw;
}

.footer {
    display: flex;
    margin-top: 0;
    justify-content: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

