.body {
    color: #256993;
    font-family: Montserrat, sans-serif;
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin: 0%;
    height: 100vh;
}

.sidebar {
    background-color: #FAF4EC;
    min-width: 20vw;
    min-height: 20vh;
    grid-column-start: 1;
    grid-column-end: 3;
}

h1 {
    font-size: 3vw;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

li {
    list-style-type: square;
}

.mainbody {
    display: grid;
    background-color: #F3E9DE;
    min-height: 80vh;
    min-width: 80vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
}

header {
    grid-column-start: 1;
    grid-column-end: 3;

}

div {
    align-items: center;
    margin: 1vh 1vw;
}

button {
    background-color: #375f68;
    color: white;
    border-radius: 5px;
    min-width: 100px;
    padding: 2vh 1vw;
    margin: 1vh 2vw 1vh 2vw;
}

.aboutdocs {
    display: flex;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: flex-end;
    column-gap: 1vw;
}

.buttons1 {
    grid-column-start: 1;
    grid-column-end: 2;
    display: inline-flex;
}

.buttons2 {
    grid-column-start: 2;
    grid-column-end: 3;
    display: inline-flex;
    justify-content: flex-end;
}

.buttons2a {
    background-color: #56536a;
}

textarea {
    width: 95%;
    border: 5px solid #759feb;
    border-radius: 5px;
}

.textbox {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
}

.buttons3 {
    background-color: #9B332C;
}

.footer {
    display: flex;
    margin-top: 0vh;
    justify-content: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (min-width: 600px) {
    .body {
        display: flex;
        min-height: 100vh;
    }

    .sidebar {
        height: 100vh;
        width: 20vw;
    }
    
    .mainbody {
        height: 100vh;
        width: 80vw;
    }
}
